@charset 'utf-8';@font-face {
  font-family: Quicksand;
  src: url( url(../fonts/Quicksand_Book-webfont.eot));
  src: local('☺'),url(../fonts/Quicksand_Book-webfont.woff) format('woff'),url(../fonts/Quicksand_Book-webfont.ttf) format('truetype'),url(../fonts/Quicksand_Book-webfont.svg#webfontQvsv8Mp8) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Book_Oblique-webfont.eot);
  src: local('☺'),url(../fonts/Quicksand_Book_Oblique-webfont.woff) format('woff'),url(../fonts/Quicksand_Book_Oblique-webfont.ttf) format('truetype'),url(../fonts/Quicksand_Book_Oblique-webfont.svg#webfontDkcdglAy) format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Bold-webfont.eot);
  src: local('☺'),url(../fonts/Quicksand_Bold-webfont.woff) format('woff'),url(../fonts/Quicksand_Bold-webfont.ttf) format('truetype'),url(../fonts/Quicksand_Bold-webfont.svg#webfontA4fKbYnS) format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Bold_Oblique-webfont.eot);
  src: local('☺'),url(../fonts/Quicksand_Bold_Oblique-webfont.woff) format('woff'),url(../fonts/Quicksand_Bold_Oblique-webfont.ttf) format('truetype'),url(../fonts/Quicksand_Bold_Oblique-webfont.svg#webfontijreB3Ak) format('svg');
  font-weight: 700;
  font-style: italic;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,body,.item1,div{background: #212121}

html > body {
  font-size: 17px;
}
body {
    color: #C6C6C6;
    margin: 0px;

 /* font-size: 62.5%;*/
}
.header {
  align-self: auto;
}
.header, .item3 {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  gap: 5px;
}
.flex-container > div {
  padding: 8px;
}
.item1 {
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
  width: 100%;
}
.item2 {
  width: 80%;
  align-self: auto;
}
.item3 {
  width: 100%;
  text-align: center;
}
img.logo {
  border: 0;
}

hr {
  width: 100%;
  height: 0.5px;
  background: rgba(7,151,195, .15);
  border: 0;
}
 div {
 /*color:  #E8E8E8;  */
  margin:auto;
}

#contant {
  width: 100%;
  margin: auto;
  border: 1px #555555 solid;
  border-radius: 20px;
  max-width: 1000px;
}
.method {
  width: 80%;
   margin: 20px auto auto;
  font-family:roboto serif;
}
a {
  background: #121212;
  text-decoration: none;
  color:#FF8C00 ;
}
a:hover {
  color:#0797C3 ;
}
h1, h2, h3, h4 {
  font-family: Quicksand,'Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}
h2 { color:  #E8E8E8;
  text-align:center;
   background: #111;
}

strong {
  font-weight: 700;
}
pre.nobrush { padding:10px;
  text-align: left;
  background:#121212 ;
  color:#0090d2;
  margin: 1.5em 0;
  white-space: pre;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space:   -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: -hp-pre-wrap;
  white-space:      pre-wrap;
  white-space: pre-line;
  font: .9375em 'andale mono','lucida console',monospace;
  line-height: 1.6;
  max-width: 600px;
  min-width: 420px;
}
code{
  text-align: left;
   color:#0090d2;
  font: .9375em 'andale mono','lucida console',monospace;
  line-height: 1.6;
}
#pre {
  font-size:0.9rem;
  max-width: 600px;
  min-width: 420px;
}

