 * {
  font-family: Quicksand,'Helvetica Neue',Arial,sans-serif;  font-size: 1em;

}

body{margin:0;}
    #contant>p{text-align:center;}
    .flex-container{display:flex;justify-content:flex-start;align-items:center;flex-direction:column;height:100%;padding:5px;gap:5px;}
    .flex-container>div{padding:8px;}
    .header{background:#202020;margin-top:-28px;margin-right:-5px;margin-left:-5px;flex:0 1 auto;align-self:auto;text-align:center;width:100%;}
    .item2{width:80%;align-self:auto;}
    .item3{color:#d4d0c8;background:#202020;width:100%;text-align:center;margin-bottom:-8px;}
    ul.exemple{list-style-type:none;}
    img.logo{border:0;}
    .bt{font-size:1rem;cursor:pointer;background:#202020;margin:5px;width:300px;border-radius:10px;transition:all 1.2s ease-in-out;color:#d4d0c8;border:none;font-weight:500;padding:5px;}
    .bt:hover{background:rgba(0, 0, 0, .3);transition:all 1.2s ease-in-out;color:#000;}
    hr{width:100%;height:1px;}
    div{background-color:#fff;margin:auto;margin-top:20px;}
    button{margin-right:10px;}
    .method{width:80%;margin:auto;}
    .content{text-align:center;width:100%;margin:auto;margin-top:10px;border:solid 1px;border-radius:20px;}
    hr{width:100%;height:5px;background-color:#000;}
    table.ta{width:80%;}
    .list-item{text-align:left;float:left;margin:auto;}
    div #output{background-color:#202020;color:#ddd;}
    #pre{max-width:600px;min-width:420px;}
    a{
      text-decoration: none;
    }
